{{>header}}
{{>nav}}
<div class="container">
    {{data.name}}
    <br>
    {{data.phone}}
    <br>
    {{data.email}}
    <br>
    {{data.msg}}
    <a href="/editUser/{{data._id}}" class="btn btn-danger">Edit</a>
</div>
{{>footer}}
